@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode varios elementos)
*/

body{
    background-color: rgb(150, 202, 150);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(15, 63, 15);
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(123, 141, 109);
}

.basico{
    color: rgb(29, 153, 29);
}

.intermediario{
    color: rgb(235, 216, 47);
}

.avancado{
    color: rgb(128, 0, 0);
}

.destaque{
    background-color: rgb(156, 156, 80);
}