@charset "UTF-8";

        body{
            background-color: rgb(205, 221, 58);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1{
            color: maroon;
            background-color: rgb(155, 156, 67);
        }

        h2{
            color: red;
        }

        p{
            text-align: justify;
        }